body, html {
  background-color: #808080;
}

#messaggioDiBenvenuto {
  color: #ffffff;
  text-align: center;
  font-family: cursive;
}

.contenitore{
  border: 3px solid #ffffff;
  display: flex;
  width: 95%;
  height: 100%;
  margin-left: 30px;
  border-radius: 10px;
}


#parteNote {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 10%;
  padding: 5px;
}

#parteTesto {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #ffffff;
  color: #0000ff;
  width: 90%;
  margin-left: 10px;
}

.inserimentoTesto {
  border: none;
  width: 80%;
  background-color: #add8e6;
  color: #0000ff;
  border-bottom: 1px solid #0000ff; /*Per far uscire sottolineato la casella di testo*/
}

button:hover {
  background-color: #d3d3d3;
  color: #ff0000;
}
